   <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
           <li>
                    <a href="{%url 'home'%}">
                     
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>  
                <li>
                    <a  href="{%url 'category_list'%}">
                        <i class="material-icons">category</i>
                        <span>Categroy</span>
                    </a>
                </li>
                <li>
                    <a  href="{%url 'sub_category_list'%}">
                        <i class="material-icons">interests</i>                        
                        <span>Sub-Categroy</span>
                    </a>
                </li>
                    <li>
                    <a  href="{%url 'product_list'%}">
                        <i class="material-icons">inventory_2</i>                        
                        <span>Product</span>
                    </a>
                </li>
                    <li>
                    <a  href="{%url 'quotation_list'%}">
                        <i class="material-icons">request_quote</i>  
                        <span>Quotation</span>
                    </a>
                </li>
                  <li>
                    <a  href="{%url 'quotation_waiting'%}">
                        <i class="material-icons">pending_actions</i>  
                        <span>Approved</span>
                    </a>
                </li>
                 <li>
                    <a  href="{%url 'quotation_invoice'%}">
                        <i class="material-icons">receipt</i>  
                        <span>Invoice</span>
                    </a>
                </li>
                   <li>
                    <a  href="{%url 'logout'%}">
                        <i class="material-icons">logout</i>  
                        <span>logout</span>
                    </a>
                </li>
                {% comment %} <li>
                    <a  href="{%url 'quotation_invoice'%}">
                        <i class="material-icons">order_approve</i>  
                        <span>Invoice</span>
                    </a>
                </li>
                <li>
                    <a  href="{%url 'logout'%}">
                      <i class="material-icons">chip_extraction</i> 
                        <span>Logout</span>
                    </a>
                </li> {% endcomment %}
                
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="morris.html">Morris</a></li>
                        <li><a  href="chartjs.html">Chartjs</a></li>
                        <li><a  href="flot_chart.html">Flot Charts</a></li>
                        <li><a  href="xchart.html">xChart</a></li>
                    </ul>
                </li>
            
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-comments-o"></i>
                        <span>Chat Room</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="lobby.html">Lobby</a></li>
                        <li><a  href="chat_room.html"> Chat Room</a></li>
                    </ul>
                </li>
                
                <li>
                    <a  href="login.html">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li> {% endcomment %}

                <!--multi level menu start-->
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-sitemap"></i>
                        <span>Multi level Menu</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="javascript:;">Menu Item 1</a></li>
                        <li class="sub-menu">
                            <a  href="boxed_page.html">Menu Item 2</a>
                            <ul class="sub">
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                <li class="sub-menu">
                                    <a  href="javascript:;">Menu Item 3</a>
                                    <ul class="sub">
                                        <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                        <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> {% endcomment %}
                <!--multi level menu end-->
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-sitemap"></i>
                        <span>Quotation</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="javascript:;">Quotation List</a></li>
                        <li><a  href="javascript:;">Approved</a></li>
                        <li><a  href="javascript:;">InVoice</a></li>


                    <li class="sub-menu">
                            <a  href="boxed_page.html">Menu Item 2</a>
                 <ul class="sub">
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>

                               <li class="sub-menu">
                                    <a  href="javascript:;">Menu Item 3</a>
                                    <ul class="sub">
                                        <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                        <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                    </ul>
                                </li>  
                            </ul>  
                        </li>  
                    </ul>
                </li>  {% endcomment %}

            </ul>
        <!-- sidebar menu end-->
    </div>