{% load custom_tags %}
{% get_sidebar_menu as sidebar_menu %}
  
 

      <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
         
      
                {% regroup sidebar_menu  by parent as menu_groups %}
                
                {% for group in menu_groups %}
                {% if group.grouper %}
                    <!-- Sub Menu -->
                    <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-folder"></i>
                        <span>{{ group.grouper }}</span>
                    </a>
                    <ul class="sub">
                        {% for item in group.list %}
                        {% if not item.permission_only %}
                            {% if not item.perm or request.user|has_perm:item.perm %}
                            <li><a href="{% url item.url %}"> {{ item.name }}</a></li>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </li>
                {% else %}
                    <!-- Top-level items -->
                    {% for item in group.list %}
                    {% if not item.permission_only %}
                        {% if not item.perm or request.user|has_perm:item.perm %}
                        <li>
                            <a href="{% url item.url %}">
                            <i class="{{ item.icon }}"></i>
                            <span>{{ item.name }}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% endfor %}
                  
                {% comment %} <li>
                    <a  href="{%url 'quotation_invoice'%}">
                        <i class="material-icons">order_approve</i>  
                        <span>Invoice</span>
                    </a>
                </li>
                <li>
                    <a  href="{%url 'logout'%}">
                      <i class="material-icons">chip_extraction</i> 
                        <span>Logout</span>
                    </a>
                </li> {% endcomment %}
                
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class=" fa fa-bar-chart-o"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="morris.html">Morris</a></li>
                        <li><a  href="chartjs.html">Chartjs</a></li>
                        <li><a  href="flot_chart.html">Flot Charts</a></li>
                        <li><a  href="xchart.html">xChart</a></li>
                    </ul>
                </li>
            
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-comments-o"></i>
                        <span>Chat Room</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="lobby.html">Lobby</a></li>
                        <li><a  href="chat_room.html"> Chat Room</a></li>
                    </ul>
                </li>
                
                <li>
                    <a  href="login.html">
                        <i class="fa fa-user"></i>
                        <span>Login Page</span>
                    </a>
                </li> {% endcomment %}

                <!--multi level menu start-->
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-sitemap"></i>
                        <span>Multi level Menu</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="javascript:;">Menu Item 1</a></li>
                        <li class="sub-menu">
                            <a  href="boxed_page.html">Menu Item 2</a>
                            <ul class="sub">
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                <li class="sub-menu">
                                    <a  href="javascript:;">Menu Item 3</a>
                                    <ul class="sub">
                                        <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                        <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> {% endcomment %}
                <!--multi level menu end-->
                {% comment %} <li class="sub-menu">
                    <a href="javascript:;" >
                        <i class="fa fa-sitemap"></i>
                        <span>Quotation</span>
                    </a>
                    <ul class="sub">
                        <li><a  href="javascript:;">Quotation List</a></li>
                        <li><a  href="javascript:;">Approved</a></li>
                        <li><a  href="javascript:;">InVoice</a></li>


                    <li class="sub-menu">
                            <a  href="boxed_page.html">Menu Item 2</a>
                 <ul class="sub">
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                <li><a  href="javascript:;">Menu Item 2.1</a></li>

                               <li class="sub-menu">
                                    <a  href="javascript:;">Menu Item 3</a>
                                    <ul class="sub">
                                        <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                        <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                    </ul>
                                </li>  
                            </ul>  
                        </li>  
                    </ul>
                </li>  {% endcomment %}

            </ul>
        <!-- sidebar menu end-->
    </div>