# Python
__pycache__/
*.pyc

# Django migrations (ignore everything except __init__.py)
**/migrations/*
!**/migrations/__init__.py

# Virtualenv
venv/
env/

# IDE
.vscode/
.idea/

# Git
.gitignore
staticfiles/
media/receipts
app/migrations
app/migrations/*.py
arrolite/.env 
