# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python

# Virtual environments
.venv/
env/
ENV/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/

# Editor / OS files
.vscode/
.idea/
*.swp
.DS_Store

# Ignore __pycache__ inside migrations, but keep migration .py files
**/migrations/__pycache__/
**/migrations/__pycache__/
