
{% extends 'base/container.html' %}
{% load static %}
{% block title %}Category {% endblock %}

{% block style %}
 
{% endblock %}
{% block body_content %} 
<div class="wrapper">
     <div class="wrapper-title">
    <div class="wrapper-content">Sub-Category List</div>
    <div class="wrapper-actions">
         <a class="btn btn-primary" data-toggle="modal" href="#category-model"><i class="fa fa-plus"></i> Add</a>
         
        <button class="btn btn-secondary" style="display: inline-flex;gap:2px;" onclick="history.back()">  <i class="material-icons">arrow_circle_left</i>Back</button>
    </div>
   </div>
    <div class="row mt-2">
        <div class="col-lg-12">
            <section class="card">
                <div class="adv-table">
                    <table class="table table-striped table-advance table-hover" id="sub-category-table">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th><i class="fa fa-bullhorn"></i>Sub-Category</th>
                            <th><i class="fa fa-bars" aria-hidden="true"></i> Category</th>
                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> Descrition</th>
                            <th><i class="fa fa-edit"></i> Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for subcategorie in subcategories %}
                        <tr>
                            <td><a href="#">{{forloop.counter}}</a></td>
                            <td><a href="#">{{subcategorie.name}}</a></td>
                            <td><a href="#">{{subcategorie.category.name}}</a></td>
                            <td class="hidden-phone">{{subcategorie.description}}</td>
                            <td>
                                {%if subcategorie.status%}
                                <span class="badge badge-info label-mini">Active</span>
                                {% else %}
                                <span class="badge badge-danger label-mini">De-Active</span>
                                {% endif %}
                            </td>
                            <td>
                                <button id ="edit-category-btn" data-toggle="modal"  href="#category-model-edit" class="btn btn-primary btn-sm edit-category-btn" data-id="{{subcategorie.id}}" data-name="{{subcategorie.name}}" data-categorie="{{subcategorie.category.id}}" data-description="{{subcategorie.description}}"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-sm" onclick="confirmDeletedUpdate('{% url 'sub_category_delete' subcategorie.id %}')"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>
                    
                        {%endfor%}
                        
                        
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        
        <!-- Model Add Category Add Part-->
        <div class="modal fade" id="category-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModal2">Add</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                           <form class="cmxform form-horizontal tasi-form" id="category-add-form" method="post" action="#">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <label for="name" class="control-label col-lg-2">SubCategory Name</label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" id="name" name="name" type="text" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="control-label col-lg-2">Category Name</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="category" name="category">
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% empty %}
                                                <option disabled>No categories available</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label for="description" class="control-label col-lg-2">Description</label>
                                    <div class="col-lg-10"> 
                                        <textarea class=" form-control"  name="description" id="description"></textarea>
                                    </div>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="category-submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                       </div>
                </div>
            </div>
        </div>
        <!-- Model Add Category Add Part-->
        <!-- Model Add Category Edit Part-->
        <div class="modal fade" id="category-model-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModal2">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                           <form class="cmxform form-horizontal tasi-form" id="category-edit-form" method="post" action="#">
                            {% csrf_token %}
                                <div class="form-group row">
                                    <label for="name" class="control-label col-lg-2">SubCategory Name</label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" id="name" name="name" type="text" />
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label for="name" class="control-label col-lg-2">Category Name</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="category" name="category">
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% empty %}
                                                <option disabled>No categories available</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row ">
                                    <label for="description" class="control-label col-lg-2">Description</label>
                                    <div class="col-lg-10"> 
                                        <textarea class=" form-control"  name="description" id="description"></textarea>
                                    </div>
                                </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" id="category-edit-submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                       </div>
                </div>
            </div>
        </div>
        <!-- Model Add Category Edit Part-->
    </div>
</div>

{% endblock %}
{% block js %}
<script>
 
   $('#sub-category-table').dataTable( {
             
        } );
//Search  -Filter
$(function () {
    const modal = $("#category-model-edit");
    const form = $("#category-edit-form");
 
    // Populate modal form
    $(".edit-category-btn").click(function () {
        const btn = $(this);
      
        const categoryId = btn.data("categorie");
        form.attr("data-id", btn.data("id"));
        form.find("#name").val(btn.data("name"));
         
         form.find("#category").val(categoryId);

        form.find("#description").val(btn.data("description"));
 
    });

    // Submit updated form via AJAX
    $("#category-edit-submit").click(function () {
        const id = form.attr("data-id");
        const url = "{% url 'sub_category_edit' 0 %}".replace("0", id);
  
        $.ajax({
            url: url,
            type: "POST",
            data: form.serialize(),
            headers: {
                "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
            },
            success: function (res) {
                if (res.success) {
                    modal.modal("hide");
                    DisplayAlert(true,res.message)
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                } else {
                    DisplayAlert(false,"Validation error")
                    console.log(res.errors);
                }
            },
            error: function (err) {
                 
                DisplayAlert(false,"Server error")
                console.error(err.responseText);
            }
        });
    });
});
</script>

{% endblock %}